/* stylelint-disable plugin/no-unsupported-browser-features */
/* stylelint-disable no-duplicate-selectors */
@import url('_normalize.css');
@import url('mapper.scss');
@import url('variables.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
  height: 100%;

  background-color: var(--color-background);
  color: var(--color-text-primary);

  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

/* For browsers that support scroll-behavior */

html {
  scroll-behavior: smooth;
}

/* For browsers that support overscroll-behavior */

body {
  overscroll-behavior-y: none;
}

/* Media queries for Safari on iOS to exclude unsupported properties for older versions */
@supports not (scroll-behavior: smooth) {

  html {
    /* Use default scroll behavior for older browsers */
    scroll-behavior: auto;
  }
}

@supports not (overscroll-behavior-y: none) {

  body {
    /* Use default scroll behavior for older browsers */
    overscroll-behavior-y: auto;
  }
}
